{% extends "::base.html.twig" %}
{% block body %}
         <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Home</h1>
                    <div class="alert alert-success alert-dismissable">
                        Welcome to Victorian Digital Careers Engagement Project.
                        
                        This website aims to promote ICT enabled careers in Australia by providing users with an increase awareness of what careers are actually available and promoting education and training pathways. This portal aims to target not only students in entering a career in ICT but also teachers, career advisors, teachers,industry
and Government who in one way or another can influence young people in chosing this field.
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
 